extends layout

block content
  h1 A Crowd-Sourcing Platform for BrainWinner!
  h2 基本介绍
  p 这个项目是“头脑王者”的答题辅助软件，拟通过收集的题库来提高答题准确率。
  h2 工作原理
  p 在答题之前，需要一些准备工作。所有与答题相关的数据包会先被转发到代理服务器，然后会与题库比对，如果已存在则返回正确答案。
    | 如果题库中不存在，则会把它加入到题库中，下一次遇到时就有正确答案了。
  p 所以只要有足够多的人通过这种方式答题，那么它的准确率就会越来越高。
  h2 如何使用
  h3 Step1：配置代理
  ul
    li 设置代理服务器为 #{ip}，端口 8001
      ul
        li iOS: 设置 -> 无线局域网 -> [WLAN] 右边的(i) -> 最下方 HTTP 代理 -> 手动 -> 填写ip和端口
        li Android: 设置 -> 长按 [WLAN] -> 编辑 -> 高级选项 -> 填写ip和端口
    li 这时测试一下百度等网站是否可以访问，如果不能，则连接pnju
  h3 Step2：导入证书
  ul
    li 复制如下链接到浏览器，安装并信任根证书（如果跳过这步，题目内容将无法解析）
      br
      a(href='http://'+ip+':8000/rootCA.crt') http://#{ip}:8000/rootCA.crt
    li 注：如果是iOS>=10.3的系统，还需要在设置->通用->关于本机->证书信任设置中启用之
  h3 Step3：推荐用法
  ul
    li 使用两台都可以连接外网的设备，最好是一台电脑/pad一台手机
    li 手机端转到微信，打开“头脑王者”（推荐第一次使用时先将小程序删除，再重新添加）
    li 电脑端打开本页面，转到
      a(href='/users') 用户列表
      | ，勾选对应的用户即可
  h2 Trouble Shoot
  h3 遇到微信提示“无法连接到服务器”，该怎么办？
  p 这个问题和校园网有关，属正常现象，请按照如下步骤操作：
  ol
    li 断开代理（把代理设置成无）
    li 打开pnju页面并连接
    li 重连代理
  h3 提示“request:fail 此服务器的证书无效 ...”
  ol
    li 按照Step1中的说明配置代理即可
  p Welcome to #{title}
